In [1]:
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import sklearn
import pandas as pd
import os
import sys
import time
import tensorflow as tf
from tensorflow import keras
from sklearn.datasets import fetch_california_housing
import pymysql


print(tf.__version__)
print(sys.version_info)
for module in mpl, np, pd, sklearn, tf, keras:
    print(module.__name__, module.__version__)

2.0.0
sys.version_info(major=3, minor=6, micro=5, releaselevel='final', serial=0)
matplotlib 3.1.0
numpy 1.18.1
pandas 0.24.2
sklearn 0.20.1
tensorflow 2.0.0
tensorflow_core.keras 2.2.4-tf

In [ ]:

def get_data(sql):
    conn = pymysql.connect(host='192.168.0.3',
                           user='clean',
                           passwd='Zlpg1234!',
                           db='valuation_web',
                           port=3306,
                           charset='utf8',
                           cursorclass=pymysql.cursors.SSDictCursor,
                           connect_timeout=7200)
    cur = conn.cursor()
    cur.execute(sql)
    data = cur.fetchall()
    cur.close()
    conn.close()
    return data

In [ ]:
car_class = 'minibus'
car_case = get_data(sql_to_CarConfig_CarCase.format(car_class, 2007))
car_case_df = pd.DataFrame(car_case, columns=car_case[0].keys())

In [ ]:
car_case_df.shape

In [ ]:
car_case_df.head(2)

In [ ]:
car_case_df.groupby('displacement').vendor_guide_price.mean().plot(kind='barh')

In [ ]:
q = np.array([1,2,3])

In [ ]:
q[0] = 100

In [ ]:
q

In [ ]:
q[-4] = 1

In [ ]:
a = np.array([])

In [ ]:
a.append(2)

In [ ]:
a = np.append(a , 2)

In [ ]:
a

In [ ]:
b = []
b.append(2)

In [ ]:
b

In [ ]:
np.mean(b)

In [4]:
def bubbleSort(arr):
    n = len(arr)
    # 遍历所有数组元素
    for i in range(n):
        # Last i elements are already in place
        for j in range(0, n - i - 1):
            if arr[j] > arr[j + 1]:
                arr[j], arr[j + 1] = arr[j + 1], arr[j]
    return arr

In [6]:
from datetime import timedelta
def gen_dates(b_date, days):
    day = timedelta(days=1)
    # print(day)
    for i in range(days):
        # print(b_date + day*i)
        yield b_date + day * i

In [12]:
print(timedelta(2))

2 days, 0:00:00

In [21]:
from time import time
from datetime import datetime

In [25]:
for i in gen_dates(datetime.now(), 7):
    print(i)

2020-02-15 14:26:01.850237
2020-02-16 14:26:01.850237
2020-02-17 14:26:01.850237
2020-02-18 14:26:01.850237
2020-02-19 14:26:01.850237
2020-02-20 14:26:01.850237
2020-02-21 14:26:01.850237

In [26]:
d = [i for i in gen_dates(datetime.now(), 7)]

In [27]:
d[0], d[-1]

(datetime.datetime(2020, 2, 15, 14, 28, 41, 516006),
 datetime.datetime(2020, 2, 21, 14, 28, 41, 516006))

In [28]:
(d[-1] - d[0]).days

6

In [11]:

def get_date_list(start_date, end_date):  # end_date=None
    """
    获取日期列表
    :param start: 开始日期
    :param end: 结束日期
    :return:
    """
    if start_date is not None:
        start = datetime.datetime.strptime(start_date, "%Y-%m-%d")
    if end_date is None:

        end = datetime.datetime.now()
    else:
        end = datetime.datetime.strptime(end_date, "%Y-%m-%d")
    data = []
    for d in gen_dates(start, ((end - start).days + 1)):  # 29 + 1
        # print(d)   # datetime.datetime  类型
        data.append(d.strftime("%Y-%m-%d"))
    return data


def get_month_list(start_date, end_date):
    dates = get_date_list(start_date, end_date)
    months = []
    for i in dates:
        if i[:7] not in months:
            months.append(i[:7])
    return months

In [31]:

register_time = datetime.strptime('2018-11-23', "%Y-%m-%d")
registered_time = ((datetime.now().year - register_time.year) * 12 +
                                   (datetime.now().month - register_time.month)) 
print(registered_time)

15