In [1]:
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import sklearn
import pandas as pd
import os
import sys
import time
import tensorflow as tf
from tensorflow import keras
from sklearn.datasets import fetch_california_housing
import pymysql


print(tf.__version__)
print(sys.version_info)
for module in mpl, np, pd, sklearn, tf, keras:
    print(module.__name__, module.__version__)

2.0.0
sys.version_info(major=3, minor=6, micro=5, releaselevel='final', serial=0)
matplotlib 3.1.0
numpy 1.18.1
pandas 0.24.2
sklearn 0.20.1
tensorflow 2.0.0
tensorflow_core.keras 2.2.4-tf

In [ ]:

def get_data(sql):
    conn = pymysql.connect(host='192.168.0.3',
                           user='clean',
                           passwd='Zlpg1234!',
                           db='valuation_web',
                           port=3306,
                           charset='utf8',
                           cursorclass=pymysql.cursors.SSDictCursor,
                           connect_timeout=7200)
    cur = conn.cursor()
    cur.execute(sql)
    data = cur.fetchall()
    cur.close()
    conn.close()
    return data

In [ ]:
car_class = 'minibus'
car_case = get_data(sql_to_CarConfig_CarCase.format(car_class, 2007))
car_case_df = pd.DataFrame(car_case, columns=car_case[0].keys())

In [ ]:
car_case_df.shape

In [ ]:
car_case_df.head(2)

In [ ]:
car_case_df.groupby('displacement').vendor_guide_price.mean().plot(kind='barh')

In [ ]:
q = np.array([1,2,3])

In [ ]:
q[0] = 100

In [ ]:
q

In [ ]:
q[-4] = 1

In [ ]:
a = np.array([])

In [ ]:
a.append(2)

In [ ]:
a = np.append(a , 2)

In [ ]:
a

In [ ]:
b = []
b.append(2)

In [ ]:
b

In [ ]:
np.mean(b)

In [4]:
def bubbleSort(arr):
    n = len(arr)
    # 遍历所有数组元素
    for i in range(n):
        # Last i elements are already in place
        for j in range(0, n - i - 1):
            if arr[j] > arr[j + 1]:
                arr[j], arr[j + 1] = arr[j + 1], arr[j]
    return arr

In [6]:
from datetime import timedelta
def gen_dates(b_date, days):
    day = timedelta(days=1)
    # print(day)
    for i in range(days):
        # print(b_date + day*i)
        yield b_date + day * i

In [12]:
print(timedelta(2))

2 days, 0:00:00

In [21]:
from time import time
from datetime import datetime

In [25]:
for i in gen_dates(datetime.now(), 7):
    print(i)

2020-02-15 14:26:01.850237
2020-02-16 14:26:01.850237
2020-02-17 14:26:01.850237
2020-02-18 14:26:01.850237
2020-02-19 14:26:01.850237
2020-02-20 14:26:01.850237
2020-02-21 14:26:01.850237

In [26]:
d = [i for i in gen_dates(datetime.now(), 7)]

In [27]:
d[0], d[-1]

(datetime.datetime(2020, 2, 15, 14, 28, 41, 516006),
 datetime.datetime(2020, 2, 21, 14, 28, 41, 516006))

In [28]:
(d[-1] - d[0]).days

6

In [11]:

def get_date_list(start_date, end_date):  # end_date=None
    """
    获取日期列表
    :param start: 开始日期
    :param end: 结束日期
    :return:
    """
    if start_date is not None:
        start = datetime.datetime.strptime(start_date, "%Y-%m-%d")
    if end_date is None:

        end = datetime.datetime.now()
    else:
        end = datetime.datetime.strptime(end_date, "%Y-%m-%d")
    data = []
    for d in gen_dates(start, ((end - start).days + 1)):  # 29 + 1
        # print(d)   # datetime.datetime  类型
        data.append(d.strftime("%Y-%m-%d"))
    return data


def get_month_list(start_date, end_date):
    dates = get_date_list(start_date, end_date)
    months = []
    for i in dates:
        if i[:7] not in months:
            months.append(i[:7])
    return months

In [31]:

register_time = datetime.strptime('2018-11-23', "%Y-%m-%d")
registered_time = ((datetime.now().year - register_time.year) * 12 +
                                   (datetime.now().month - register_time.month)) 
print(registered_time)

15

In [1]:
v = dict.fromkeys(['k1', 'k2'], [])

In [2]:
v

{'k1': [], 'k2': []}

In [3]:
v['k1'].append(666)

In [4]:
v

{'k1': [666], 'k2': [666]}

In [5]:
v['k1']=777

In [6]:
v

{'k1': 777, 'k2': [666]}

In [7]:
v.append(6)

AttributeError: 'dict' object has no attribute 'append'

In [8]:
v['k1'].append(333)

AttributeError: 'int' object has no attribute 'append'

In [12]:
s = dict.fromkeys(['k1', 'k2'], [[1],[2]])

In [13]:
s

{'k1': [[1], [2]], 'k2': [[1], [2]]}

In [14]:
s['k2'].append(666)

In [15]:
s

{'k1': [[1], [2], 666], 'k2': [[1], [2], 666]}

In [16]:
dict1 = {}

In [17]:
dict1

{}

In [18]:
dict2 = {3:5}

In [19]:
dict2

{3: 5}

In [20]:
dict3  = {[1,2,3]: 'usetc'}

TypeError: unhashable type: 'list'

In [21]:
dict4 = {(1,2,3): 'usetc'}

In [22]:
dict4

{(1, 2, 3): 'usetc'}

In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.DataFrame(np.random.randint(0,10,(4, 3)), columns=list('bde'), index=range(4))

In [25]:
df

   b  d  e
0  1  2  0
1  1  3  3
2  1  6  4
3  4  2  7

In [27]:
df.apply(lambda x: x.sum(), axis=0)

b     7
d    13
e    14
dtype: int64

In [28]:
df.applymap(abs)

   b  d  e
0  1  2  0
1  1  3  3
2  1  6  4
3  4  2  7

In [29]:
df.applymap(np.log)

/home/kdd/Env/TF2.0/lib/python3.6/site-packages/pandas/core/frame.py:6992: RuntimeWarning: divide by zero encountered in log
  return lib.map_infer(x.astype(object).values, func)

          b         d         e
0  0.000000  0.693147      -inf
1  0.000000  1.098612  1.098612
2  0.000000  1.791759  1.386294
3  1.386294  0.693147  1.945910

In [31]:
df.rolling(10).apply(lambda x: x.rank())

/home/kdd/Env/TF2.0/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.

    b   d   e
0 NaN NaN NaN
1 NaN NaN NaN
2 NaN NaN NaN
3 NaN NaN NaN

In [32]:
df.apply(lambda x: x.rank())

     b    d    e
0  2.0  1.5  1.0
1  2.0  3.0  2.0
2  2.0  4.0  3.0
3  4.0  1.5  4.0

In [34]:
x=(y=z+11)

SyntaxError: invalid syntax (<ipython-input-34-818e9d117d19>, line 1)

In [36]:
x = 4
y = 9
min = x if x < y else y

In [42]:
min

4

In [38]:
max = x > y ? x : y

SyntaxError: invalid syntax (<ipython-input-38-00e6d47efd93>, line 1)

In [39]:
if (x >y) print(x)

SyntaxError: invalid syntax (<ipython-input-39-4db9ead6e0c4>, line 1)

In [40]:
while True: pass

KeyboardInterrupt:

In [41]:
a = 0
if a:
    print('d')

In [43]:
for i in (1,2,3):
    print(i)

1
2
3

In [44]:
def s(num):
    for n in num:
        print(n)

In [45]:
s(3.4)

TypeError: 'float' object is not iterable

In [46]:
def chan(n2):
    n2=n2+1
    print('chan: n2=', n2)

In [47]:
n1=2
chan(n1)
print('n:', n1)

chan: n2= 3
n: 2

In [48]:
class hello():
    def showInfo(self):
        print(self.x)

In [49]:
h = hello()

In [50]:
h.showInfo()

AttributeError: 'hello' object has no attribute 'x'

In [51]:
g = (x*x for x in range(10))

In [52]:
g

In [53]:
l = [x*x for x in range(10)]

In [54]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [55]:
sum(g)

285

In [56]:
sum(l)

285

In [57]:
g[0]

TypeError: 'generator' object is not subscriptable

In [58]:
a = [1,2,3,4,5,6,7]
b = filter(lambda x: x>5, a)
print(b)

<filter object at 0x7fd5830d4ba8>

In [59]:
b.value

AttributeError: 'filter' object has no attribute 'value'

In [60]:
reduce(lambda x, y: x*y, range(1,4))

NameError: name 'reduce' is not defined

In [63]:
list(range(1,4))

[1, 2, 3]

In [64]:
import copy

In [65]:
a = [1,2,3,4,['a', 'b']]

In [66]:
b = copy.copy(a)

In [67]:
b

[1, 2, 3, 4, ['a', 'b']]

In [68]:
c = copy.deepcopy(a)

In [69]:
c

[1, 2, 3, 4, ['a', 'b']]

In [70]:
id(a[1])

10968832

In [71]:
id(b[1])

10968832

In [73]:
id(a[-1]) == id(b[-1])

True

In [74]:
A1 = {'小明':93, '小红':88, '小刚':100}
A2 = {'小刚':100,'小明':93, '小红':88 }
print(A1==A2)

True

In [75]:
a = [1,2,3]
b=[4,5]
a.append(b)

In [76]:
a

[1, 2, 3, [4, 5]]

In [77]:
len(a)

4

In [78]:
sum(a)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [79]:
import re
a = '601988-中国银行'
print(re.findall("(\d+)-([\u4e00-\u9fa5]+)", a))

[('601988', '中国银行')]

In [80]:
a = {'a':1, 'b':2, 'c':3}
print(max(a))

c

In [82]:
print(max(a,key=lambda x:a[x])

SyntaxError: unexpected EOF while parsing (<ipython-input-82-a720bb6648e6>, line 1)

In [83]:
a = [('a',3),('b',2),('d',0)]
sorted(a, key=lambda x: a[x])

TypeError: list indices must be integers or slices, not tuple

In [84]:
print(0 or False and 1)

False

In [85]:
def mul(x):
    return x*x

In [86]:
n = [1,2,3,4,5]
res=list(map(mul,n))
print(res)

[1, 4, 9, 16, 25]

In [87]:
from collections import deque

In [88]:
queue = deque(['E', 'J', 'M'])
queue.append('T')
queue.append('G')
print(queue)
queue.popleft()
print(queue)

deque(['E', 'J', 'M', 'T', 'G'])
deque(['J', 'M', 'T', 'G'])

In [ ]:
from collections import defaultdict, OrderedDict
import time
a = defaultdict(OrderedDict)
def func(code, i):
    a[code][i] = i
    
def timer():
    while 300000!=sum(map(lambda code: len(a[code]), a.keys())):
        print(sum(map(lambda code: len(a[code]), a.keys())))
        time.sleep(1)
    print('ending')